


*, *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
        font-family: 'Frank Ruhl Libre', serif;
        background-color: rgb(217, 231, 233);
        margin:0;
        padding:0;

}
ul {
    z-index: 99999;
    width:100%;
    position:fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cabdbd;
}                                                                                                     
.section {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    margin-top: 70px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    color: rgb(14, 14, 17);
    font-size: 30px;
    width:100%;
    background-color: rgb(184, 192, 240);
}
.section_index{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  margin:0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding:0;
  font-weight: bold;
  text-align: center;
  color: rgb(14, 14, 17);
  font-size: 30px;

  background-color: rgb(184, 192, 240);
}
li {
    float: right;
}

li a {
    display: block;
    color: rgb(66, 62, 62);
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:  rgb(81, 56, 109);
}

.active {
    background-color: rgb(160, 9, 9);
}

.img_center{
    position: relative;
    display: block;    
    width: 100%;
}


/*This is the top button css regulator*/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background:  url(arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  }
  
  .cd-top.cd-top--show,
  .cd-top.cd-top--fade-out,
  .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  }
  
  .cd-top.cd-top--show {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top.cd-top--fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .6;
  }
  
  .cd-top:hover {
    opacity: 1;
  }
  
  @media only screen and (min-width: 768px) {
    .cd-top {
      right: 20px;
      bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cd-top {
      height: 60px;
      width: 60px;
      right: 30px;
      bottom: 30px;
    }
  }

  


/*Exactly on the middle of the screen*/
.banner_company{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left :50%;
    width: 30%;
}
/*Based on the middle banner insert it a little lower*/
.banner_name{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left :50%;
    width: 10%;
}
/*Responsive sizing*/
.gallery_img{
        width: 100%;
        height: 200px;
        width: 325px;

}
/*Especially added for responsive gallery using css*/
.row {
    display: -ms-flexbox; /* IE10 */
    -ms-flex-wrap: wrap; /* IE10 */
    display: flex;
    flex-wrap: wrap;
   padding-left: 50px; 
  }
  .row2 {
    display: -ms-flexbox; /* IE10 */
    -ms-flex-wrap: wrap; /* IE10 */
    display: flex;
    flex-wrap: wrap;  
  }
.column {
    -ms-flex: 24%; /* IE10 */
    flex: 24%;
    max-width: 24%;
    padding: 0 6px;
    

  }
  .column img {
    margin-top: 4px;
    border-radius: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
    border-color:black;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .testimonial {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 4px 20px 0 rgba(0,0,0,0.12) !important;
    border: 10px solid #ccc;
    background-color: rgb(171, 216, 214);
    border-radius: 10px;
    padding: 20px;
    margin: 20x ;
  }
  
  .testimonial::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .testimonial img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .testimonial span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .testimonial {
        text-align: center;
    }
    .testimonial img {
        margin: auto;
        float: center;
        display: block;
    }
  }
  .vision_container{
        margin-top : 16px;
        margin-bottom: 16px;
        padding-top: 8px;
        padding-right: 120px;
        padding-bottom: 8px;
        padding-left: 120px;
        width: auto;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;

  }


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}



input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.form_container {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  background-color: #f2f2f2;
  padding: 20px;
}

.dropdown {
  position: absolute;
  line-height: 20px;
  font-size: 12px;
  width: 140px;
  display: none;
  background: #f6f6f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.previous, a.next, .days a {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 20px;
}

.selected {
  font-weight: bold;
  background: #8a46ff;
  color: #ffffff;
}

input.datepicker:focus + div.dropdown { display: block; }

input.datepicker:focus + div.dropdown, div.dropdown:hover { display: block; }

.contextmenu {
  position: absolute;
  line-height: 20px;
  font-size: 12px;
  width: 140px;
  display: none;
  background: #f6f6f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.previous, a.next, .days a {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 20px;
}

.selected {
  font-weight: bold;
  background: #8a46ff;
  color: #ffffff;
}

input.datepicker:focus + div.contextmenu {
  display: block;
}
input.datepicker:focus + div.contextmenu, div.contextmenu:hover {
  display: block;
}
.fa {
  margin:100px;
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}
.footer {
  padding-top:10px;
  left: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f6f6f6;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 641px){
  .banner_company{
      top:15%;
      left:50%;
      width: 30%;
  }
  /*Based on the middle banner insert it a little lower*/
  .banner_name{
      top:18%;
      left:50%;
      width: 15%;
  }

}
